.models {
  display: none;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 3.75rem;
  background-color:#399ade;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.menu-openner {
  margin-right: 0.9375rem;
  font-size: 1.625rem;
  background-color: #a9dcff;
  padding: 0.3125rem 1.25rem;
  border-radius: 0.3125rem;
}

.menu-openner span {
  margin-right: 0.625rem;
}

.menu-closer {
  width: 2rem;
  height: 2rem;
  display: none;
  font-size: 1.875rem;
}

@media (max-width: 840px) {
  .menu-closer {
    display: block;
  }
}